
body{
    margin: 0px;
    text-align: center;
    font-family: 'Do Hyeon', sans-serif;
}

#about{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}


.image img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.image figcaption{
    text-align: center;
}

.content{
    width: 47%;
}

@media screen and (max-width: 768px) {
    #about{
        flex-direction: column;
    }

    .content{
        width: 100%;
    }
    
}