
body{
    margin: 0px;
    text-align: center;
    font-family: 'Do Hyeon', sans-serif;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 20px 0px;
}


.image img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.image figcaption{
    text-align: center;
}

.content{
    width: 47%;
}

/* 페이지 load, reload Anim */
.AboutTransition-appear{
    opacity: 0;
}
   
.AboutTransition-appear.AboutTransition-appear-active{
  opacity: 1;
  transition: all .5s ease-in-out;
}

@media screen and (max-width: 768px) {
    html {
      height: -webkit-fill-available;
    }

    .image img{
        width: 250px;
        height: 250px;
        object-fit: cover;
        border-radius: 5px;
    }

    .about{
        flex-direction: column;
        min-height: 100vh;
        /* mobile viewport bug fix */
        min-height: -webkit-fill-available;
    }

    .content{
        flex: 1;
        overflow: auto;
        width: 100%;
    }
    
}