:root{
    --font-color : white;
    --backgound-color : chocolate;
    --dark-color: rgb(0, 0, 0, 80%);
    --green-color: #00DE7A;
    --black-color: black;
}

body{
    margin: 0px;
    font-family: 'Noto Sans KR';
    width: 100%;
}


.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color : var(--font-color);
}

.home h1{
    text-shadow: 2px 2px 2px var(--dark-color);
}

.home h3{
    text-align: center;
    padding: 30px;
    text-shadow: 3px 3px 3px var(--dark-color);
}