:root{
    --font-color : white;
    --backgound-color : chocolate;
    --dark-color: rgb(0, 0, 0, 80%);
    --green-color: #00DE7A;
    --black-color: black;
}

.resume{
    display: flex;
    height: 100vh;
    background-color:ivory;
    flex-direction: column;
    width: 100%;
    padding: 50px;
}

img{
    width: 200px;
    height: 80px;
    border-radius: 5px;
}

.contents{
    display: flex;
    margin: 50px 0px;
}

.contents .title,
.contents .document{
    margin: 0px 30px;
}

.title{
    text-align: center;
    width: 50%;
}

.document{
    text-align: left;
    list-style-type: none;
}

progress {
    display: block; /* default: inline-block */
    width: 300px;
    margin: 1em auto;
    padding: 4px;
    border: 0 none;
    background: #444;
    border-radius: 14px;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
  }
  progress::-moz-progress-bar {
    border-radius: 12px;
    background: var(--font-color);
    box-shadow: inset 0 -2px 4px rgba(0,0,0,0.4), 0 2px 5px 0px rgba(0,0,0,0.3);
    
  }

  progress::-webkit-progress-value { 
    background: var(--font-color);
}

@media screen and (max-width: 768px) {
    html {
        height: -webkit-fill-available;
    }
    
    .resume{
        min-height: 100vh;
        /* mobile viewport bug fix */
        min-height: -webkit-fill-available;
    }
    .contents{
        padding:0;
    }

    .document{
        margin-left: 30px;
    }

    .document h1{
        font-size: 0.9rem;
    }

    .document p{
        font-size: 0.7rem;
        color: gray;
    }

    .contents .title,
    .contents .document{
        margin: 0px;
    }

    img{
        width: 100px;
        height: 30px;
        border-radius: 5px;
    }

    progress {
        height: 15px;
        width: 130px;
    }

    progress::-webkit-progress-bar {
        background: transparent;
    }  
    progress::-webkit-progress-value {  
      border-radius: 12px;
      background: #FFF;
      box-shadow: inset 0 -2px 4px rgba(0,0,0,0.4), 0 2px 5px 0px rgba(0,0,0,0.3); 
    } 
}