:root{
    --font-color : white;
    --backgound-color : chocolate;
    --dark-color: rgb(0, 0, 0, 80%);
    --green-color: #00DE7A;
    --black-color: black;
}

.resume{
    display: flex;
    height: 100vh;
    background-color: cadetblue;
    flex-direction: column;
    width: 100%;
    padding: 200px 50px;
}

 .contents{
    display: flex;
    flex:1;
    justify-content:space-around;
    width: 100%;
}

.title{
    display: flex;
    align-self: flex-start;
}

.document{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    .contents{
        padding:0;
    }

    .document h1{
        font-size: 2rem;
    }
}