
.works{
    width: 100%;
    height: 100vh;
    padding: 90px;
}

.tableDiv{
    width:100%; 
    height:75vh; 
    overflow-y:scroll;
    overflow-x:hidden;
}

table{
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

table th {
    background-color: gray;
}

table td {
    width: 200px;
}

/* 페이지 load, reload Anim */
.WorksTransition-appear{
    opacity: 0;
}
   
.WorksTransition-appear.WorksTransition-appear-active{
  opacity: 1;
  transition: all .5s ease-in-out;
}

@media screen and (max-width: 768px) {
    html {
        height: -webkit-fill-available;
    }
  
    .works{
        padding: 55px;
        min-height: 100vh;
        /* mobile viewport bug fix */
        min-height: -webkit-fill-available;
    }

    .tableDiv{
        overflow-x:scroll;
    }

}